<?xml version="1.0"?>
<siteconfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webname>你说我听</webname>
  <weburl>http://www.enna.group</weburl>
  <weblogo>/upload/201712/06/201712061736316847.jpg</weblogo>
  <webcompany>你说我听</webcompany>
  <webaddress>广东深圳</webaddress>
  <webtel>18115489593</webtel>
  <webfax>-</webfax>
  <webmail>874665924@qq.com</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webtitle>微信公众号</webtitle>
  <webkeyword>微信公众号</webkeyword>
  <webdescription>微信公众号</webdescription>
  <webcopyright>你说我听©版权所有  Copyright 2017 - 2020. www.enna.group. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <mobilestatus>1</mobilestatus>
  <mobiledomain>www.yubom.net</mobiledomain>
  <memberstatus>1</memberstatus>
  <commentstatus>1</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://dysmsapi.aliyuncs.com/</smsapiurl>
  <smsusername>LTAIMOkf8Vw1wVmd</smsusername>
  <smspassword>71b86ac548f8208f747df78931d41262</smspassword>
  <smsnickname>你说我听微信</smsnickname>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>874665924@qq.com</emailfrom>
  <emailusername>874665924@qq.com</emailusername>
  <emailpassword>C09C02509ADE57E7719AD81D05544375</emailpassword>
  <emailnickname>你说我听</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xlsx,docx,jpeg,mp3</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>你说我听521致青春</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>MxWeiXinPF</sysencryptstring>
</siteconfig>